.forgetPasswordcontainer{
    width: 600px;
    height: 250px;
    background-color: var(--bodycolor);
    box-shadow: 20px 20px 60px #bfa7d9, -20px -20px 60px #ffe1ff;
   margin: 60px auto;
   display: flex;
   flex-direction: column;
   color: var(--primarycolor);
   justify-content: space-between;
   align-items: flex-start;
   padding: 48px;
}

.forgotButton{
    padding: 6px 14px;
    background-color: var(--primarycolor);
    color: white;
    cursor: pointer;

}

.forgotButton:hover{
    filter: opacity(0.9);
}